.cart {
    max-width: 360px;
    &__info {
        padding: 85px 25px 25px;
        border: 1px solid gray;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    &__image {
        margin-bottom: -65px;
        box-sizing: border-box;
        img {
            height: 100%;
            border-top-left-radius: 25%;
            border-bottom-right-radius: 25%;
        }
    }
    &__headInfo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h6 {
            font-size: 25px;
            font-weight: bold;
            font-family: Philosopher, sans-serif;
        }
    }
    &__mainInfo {
        margin-bottom: 20px;
        span {
            font-size: 16px;
            font-weight: 400;
            font-family: Roboto, sans-serif;
            line-height: 24px;
        }
    }
    &__rate {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        font-size: 18px;
        width: 36px;
        height: 36px;
    }
}