.about {
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__image {
        width: 555px;
        height: 500px;
        background-image: url(../../img/about.jpg);
        border-radius: 40px;
    }
    &__text {
        .titleInfo {
            text-align: left;
        }
    }

}