.header {
    padding: 30px 0 0;
    &__row {
        align-items: center;
        justify-content: space-between;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        max-width: 527px;
        width: 100%;
    }
}