.features {
    padding-top: 220px;
    padding-bottom: 124px;
    &__title {
        margin-bottom: 44px;
    }
    &__box {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        &_items {
            display: flex;
            justify-content: space-between;
        }
        &_item {
            text-align: center;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &__image {
                margin-bottom: 33px;
                width: 88px;
                height: 88px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                &_green {
                    background-color: rgba(142, 165, 49, 0.24);
                }
                &_red {
                    background-color: rgba(230, 76, 45, 0.24);
                }
                &_orange {
                    background-color: rgba(218, 118, 11, 0.24);
                }
            }
            &__info {
                h4 {
                    font-family: Philosopher, sans-serif;
                    text-transform: capitalize;
                    font-weight: 700;
                    margin-bottom: 15px;
                    font-size: 25px;
                }
                p {
                    font-size: 16px;
                    color: #150C01;
                    font-family: Roboto, sans-serif;
                    font-weight: 400;
                }
            }
        }
    }
}